<div class="call-page-container">
  <div class="higher-slider-container">
     <input type="range" min="40" max="100" value="100" class="slider" id="size-range">
  </div>
  <div class="lower-slider-container">
     <input type="range" min="99" max="100" value="100" class="slider slider-disabled" id="distance-range">
  </div>
  <div class="video-blocks">
     <canvas name="video-canvas" class="video-block higher-block"></canvas>
     <div class="center-blocks">
        <canvas name="video-canvas" class="video-block center-block"></canvas>
        <canvas name="video-canvas" class="video-block center-block invisible" id="invisible-block"></canvas>
        <canvas name="video-canvas" class="video-block center-block"></canvas>
     </div>
     <canvas name="video-canvas" class="video-block lower-block"></canvas>
  </div>
  <div class="actions">
     <div class="action-container blue">
        <span class="material-icons action">
        videocam_off
        </span>
     </div>
     <div class="action-container blue">
        <span class="material-icons action">
        mic_off
        </span>
     </div>
     <div class="action-container red">
        <span class="material-icons action">
        call_end
        </span>
     </div>
  </div>
</div>

<div style="background-color: beige;">
  <h1 style="text-align: center; margin: 10px; color: cadetblue;">
    Video Calling App
  </h1>
  <canvas id="canvas" #canvas>1111</canvas>
  <canvas id="canvas1" #canvas1>1111</canvas>
  <div *ngIf="callAccepted" style="text-align: center; margin: 10px;">
    <button type="button" class="btn btn-danger" (click)="onStop()">
      Stop
    </button>
  </div>

  <div style="margin: 15px;">
    <div *ngIf="receivingCall" class="row" [hidden]="callAccepted">
      <div class="col-md-7" style="text-align: right;">
        <h3>{{ caller }} is calling you</h3>
      </div>
      <div class="col-md-5" style="text-align: left;">
        <button type="button" class="btn btn-success" style="margin-right:10px;" (click)="acceptCall()">
          Accept
        </button>
          <button type="button" class="btn btn-danger" (click)="onStop()">
            Reject
          </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 alignContent">
      <div class="row">
        <div class="col-md-12">
          <label> Your Video:</label>
        </div>
      </div>

      <video
        id="video"
        width="640"
        height="480"
        muted
        playsInline
        #userVideo
        autoPlay
        loaded-data
      ></video>
    </div>
    <div class="col-md-6 alignContent">
      <div *ngIf="callAccepted" class="row">
        <div class="col-md-12">
          <label> Partner Video:</label>
        </div>
      </div>
      <video
        id="partnerVideo"
        width="640"
        height="480"
        playsInline
        #partnerVideo
        autoPlay
      ></video>
    </div>
  </div>
  <div class="row" style="margin: 15px;">
    <div class="col-md-12 alignContent" >
        <button
          type="button"
          class="btn btn-primary"
          style="margin: 10px;"
          (click)="callPeer()"
        >
          Call
        </button>
    </div>
  </div>

  <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
   			<input class="form-control" formControlName="data" type="text"  placeholder="data">
   	</form>
</div>
